
a:hover,
a:focus,
a:active {
    text-decoration: none;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

/* --------------------
:: 5.0 App FAQ Area
-------------------- */

.app-faq-area {
    padding-top: 80px;
}

.panel {
    background-color: #fff;
    border: 0 solid transparent;
    border-radius: 4px;
    box-shadow: 0 0 0 transparent;
    margin-bottom: 15px;
}

.single-accordion:last-of-type {
    margin-bottom: 0px;
}

.single-accordion h6 a {
    background-color: #ff4c8b;
    border-radius: 0;
    color: #fff;
    display: block;
    margin: 0;
    padding: 15px 15px 15px 60px;
    position: relative;
    font-size: 14px;
    text-transform: capitalize;
}

.single-accordion h6 a.collapsed {
    background-color: #f7f8fb;
    color: #292d4f;
}

.single-accordion h6 a span {
    font-size: 10px;
    position: absolute;
    left: 20px;
    text-align: center;
    top: 17px;
}

.single-accordion h6 a.collapsed span.accor-close {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

span.accor-open {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

.single-accordion h6 a.collapsed span.accor-open {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}

.single-accordion h6 {
    margin-bottom: 0;
    text-transform: uppercase;
}

.single-accordion .accordion-content {
    border-top: 0 solid transparent;
    box-shadow: none;
}

.single-accordion .accordion-content p {
    padding: 10px 15px 0;
    margin-bottom: 10px;
}

.app-faq-content h2 {
    font-size: 60px;
    margin-bottom: 40px;
}

.app-faq-content p {
    font-size: 14px;
    margin-bottom: 80px;
    line-height: 2
}

.app-faq-area {
    position: relative;
    z-index: 1;
}

.app-users-map-area {
    width: calc(50% - 30px);
    position: absolute;
    top: 100px;
    right: 0;
    z-index: 2;
}

.single-map-pin {
    width: 30px;
    height: 30px;
    background-color: #ff4c8b;
    border-radius: 50%;
    position: absolute;
    z-index: 5;
    outline: none;
}

.single-map-pin:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 0;
    left: 0;
}

.single-map-pin:before {
    -webkit-animation: map-sonar-effect 1s ease-in-out 0s infinite;
    animation: map-sonar-effect 1s ease-in-out 0s infinite;
}

.scroll-down {
    position: relative;
    display: inline-block;
    -webkit-animation: fade-down 2s infinite;
    animation: fade-down 2s infinite;
}

@-webkit-keyframes map-sonar-effect {
    0% {
        opacity: 0.3;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
        box-shadow: 0 0 0 5px #ff4c8b, 0 0 10px 10px #ff4c8b, 0 0 0 10px #ff4c8b;
    }
    40% {
        opacity: 0.5;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        box-shadow: 0 0 0 5px #ff4c8b, 0 0 10px 10px #ff4c8b, 0 0 0 10px #ff4c8b;
    }
    100% {
        box-shadow: 0 0 0 5px #ff4c8b, 0 0 10px 10px #ff4c8b, 0 0 0 10px #ff4c8b;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

@keyframes map-sonar-effect {
    0% {
        opacity: 0.3;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
        box-shadow: 0 0 0 5px #ff4c8b, 0 0 10px 10px #ff4c8b, 0 0 0 10px #ff4c8b;
    }
    40% {
        opacity: 0.5;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        box-shadow: 0 0 0 5px #ff4c8b, 0 0 10px 10px #ff4c8b, 0 0 0 10px #ff4c8b;
    }
    100% {
        box-shadow: 0 0 0 5px #ff4c8b, 0 0 10px 10px #ff4c8b, 0 0 0 10px #ff4c8b;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

@-webkit-keyframes fade-down {
    0% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    50% {
        opacity: 0.8;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
    }
    100% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

@keyframes fade-down {
    0% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    50% {
        opacity: 0.8;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
    }
    100% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

.single-map-pin:first-child {
    top: 48%;
    left: 15%;
}

.single-map-pin:nth-child(2) {
    top: 48%;
    left: 50%;
}

.single-map-pin:nth-child(3) {
    top: 25%;
    left: 70%;
}

.single-map-pin:last-child {
    top: 80%;
    left: 80%;
}


/*---------------------------------
    14. CONTACT AREA
----------------------------------*/

.contact-area h2 {
    margin-bottom: 30px;
}

.contact-address-details {
    padding: 50px 0;
}

.single-contact {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
    min-height: 60px;
    padding-left: 200px;
    position: relative;
}

.contact-icon {
    background: #26b7e7 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    height: 60px;
    left: 0;
    padding-top: 15px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 60px;
}

.contact-details h5 {
    margin-bottom: 5px;
}

.contact-details p {
    margin-bottom: 0;
}

.single-contact:last-child {
    margin-bottom: 0;
}

.contact-form input,
.contact-form textarea {
    border-radius: 0;
    margin-bottom: 20px;
    min-height: 50px;
    padding: 10px;
}

.contact-form button {
    background: #26b7e7 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    letter-spacing: 1px;
    padding: 15px 20px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.contact-form button:hover {
    background: #292929 none repeat scroll 0 0;
    color: #ffffff;
}

.map-area {
    margin-bottom: -50px;
}
